@import url("/public/src/css/vars.scss");

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	height: var(--navbar-height);;
}

nav {
	display: flex;
}

nav a {
	margin: 0 1rem;
	text-decoration: none;
	color: #000;
	font-size: 1rem;
}

/* Hamburger menu button */
.hamburger-menu {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;

	span {
		width: 2rem;
		height: 0.2rem;
		background: black;
		border-radius: 5px;
	}
}

/* Mobile menu */
.mobile-menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);

	a {
		padding: 1rem;
		text-decoration: none;
		color: black;
		border-bottom: 1px solid #ddd;
		font-size: 1.25rem;
	}

	a:last-child {
		border-bottom: none;
	}
}

/* Responsive Design */
@media (max-width: 1024px) {
	nav {
		display: none;
	}

	.hamburger-menu {
		display: flex;
	}
}

@media (max-width: 600px) {
	header {
		flex-direction: column;
		align-items: flex-start;
	}
}